@import 'vars';

.text_input {
  position: fixed;

  .label {
     position: absolute;
     top: 20px;
     left: 12px;
     font-size: 20px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: lighter;
     font-weight: 500;
     color: $light-gray;
     transform-origin: 0 0;
     transition: all .2s ease;
     pointer-events: none;
  }
  input {
     height: 45px;
     border: 0;
     border-radius: 5px 5px 0px 0px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: lighter;
     color: $dark-gray;

     padding: 15px 10px 0 10px;
     font-size: 16px;
     font-weight: 400;
     background: $light-white;
     box-shadow: inset 0 -1px 0 $main-green;
     transition: all .15s ease;

     &:hover {
        background: $white;
        box-shadow: inset 0 -1px 0 $main-green;
     }

     &:not(:placeholder-shown) {
        + .label {
          color: $main-green;
          transform: translate3d(0,-12px,0) scale(.65);
       }
    }

     &:focus {
        background: $dark-white;
        outline: none;
        box-shadow: inset 0 -2px 0 $main-green;
        + .label {
           color: $main-green;
           transform: translate3d(0, -12px, 0) scale(.65);
        }
     }
  }
}

.button_input {
  position: fixed;

  height: 60px;
  border: 0;
  border-radius: 7px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  color: $dark-gray;
  outline: none;

  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: $main-green;
  background: $white;
  transition: all .10s ease;

  &:hover {
    background: $darker-white;
    border-radius: 5px;
  }
  &:active{
    background: $light-white;
    outline: none !important;
  }
  &::-moz-focus-inner {
      border: 0 !important;
   }
}

.img_button_input {
   background:transparent;
   border: none;
   &:active{
      outline: none !important;
   }
   &::-moz-focus-inner {
      border: 0 !important;
   }
}

.error_element {
   list-style-position: inside;
   font-size: 18px;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: lighter;
   color: red;
}

.timer {
   font-size: 20px;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: lighter;
   color: $dark-gray;
}