@import 'vars';

.globalx-logo {
   position: fixed;
   width: 250px;

   margin-left: calc(50vw - 230px);
   margin-top: 30px;
}

.GX {
   position: fixed;
   width: 320px;
   height: 320px;
   margin-top: 50px;
   margin-left: 465px;
   @media (max-width: 850px) {
      visibility: hidden;
   }
}

.register-block {
   position: fixed;
   margin-left: calc(50vw - 750px / 2);
   margin-top: 110px;

   height: 430px;
   width: 750px;
   border-radius: 10px;
   border: 0.5px solid $gray;

   @media (max-width: 850px) {
      width: 525px; 
      margin-left: calc(50vw - 525px / 2);
   }
}

h1 {
   position: fixed;
   margin-left: calc(50vw + 40px);
   margin-top: 40px;

   font-family: 'Source Sans Pro', sans-serif;
   font-weight: lighter;
}
