@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

.globalx-logo {
   position: fixed;
   width: 250px;

   margin-left: calc(50vw - 230px);
   margin-top: 30px;
}

.GX {
   position: fixed;
   width: 340px;
   height: 340px;
   margin-top: 60px;
   margin-left: 475px;
   @media (max-width: 850px) {
      visibility: hidden;
   }
}

.block {
   position: fixed;
   margin-left: calc(50vw - 800px / 2);
   margin-top: 110px;

   height: 500px;
   width: 800px;
   border-radius: 10px;
   border: 0.5px solid #b5b5b5;

   @media (max-width: 850px) {
      width: 500px; 
      margin-left: calc(50vw - 500px / 2);
   }
}

.text_input {
   position: fixed;

   .label {
      position: absolute;
      top: 20px;
      left: 12px;
      font-size: 20px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: lighter;
      font-weight: 500;
      color: #c2c2c2;
      transform-origin: 0 0;
      transition: all .2s ease;
      pointer-events: none;
   }
   input {
      height: 45px;
      border: 0;
      border-radius: 5px 5px 0px 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: lighter;
      color: #636363;

      padding: 15px 10px 0 10px;
      font-size: 16px;
      font-weight: 400;
      background: #f9f9f9;
      box-shadow: inset 0 -1px 0 #61ad80;
      transition: all .15s ease;

      &:hover {
         background: #f5f5f5;
         box-shadow: inset 0 -1px 0 #61ad80;
      }

      &:not(:placeholder-shown) {
         + .label {
           color: #61ad80;
           transform: translate3d(0,-12px,0) scale(.65);
        }
     }

      &:focus {
         background: #f2f2f2;
         outline: none;
         box-shadow: inset 0 -2px 0 #61ad80;
         + .label {
            color: #61ad80;
            transform: translate3d(0, -12px, 0) scale(.65);
         }
      }
   }
}

h1 {
   position: fixed;
   margin-left: calc(50vw + 40px);
   margin-top: 40px;

   font-family: 'Source Sans Pro', sans-serif;
   font-weight: lighter;
}
