@import 'vars';

.validation-block {
  position: fixed;
  margin-left: calc(50vw - 510px / 2);
  margin-top: 110px;

  height: 370px;
  width: 510px;
  border-radius: 10px;
  border: 0.5px solid $gray;
}

p {
  position: fixed;
  font-size: 20px;
  color: $dark-gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
}

.G {
  width: 150px;
  height: 150px;
  margin-top: 105px;
  margin-left: 330px;
}