//fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

//colors
$gray: #b5b5b5;
$lighter-gray: #e0e0e0;
$light-gray: #c2c2c2;
$dark-gray: #636363;

$light-white: #f9f9f9;
$white: #f5f5f5;
$dark-white: #f2f2f2;
$darker-white: #e9e9e9;

$main-green: #61ad80;

