$sidebar-width: 213px;

.sidebar{
	border-right: 1.5px solid #5F9EA0;
	width: $sidebar-width;
	height: 100vh;
}

.create-btn{
	position: relative;
	margin-top: 15px;
	margin-left: 40px;

	display: inline-block;
 	outline: none;
  	color: #E0FFFF;
  	text-decoration: none;
  	user-select: none;
  	border: 2px solid #5F9EA0;
  	border-radius: 7px;
  	background-color: #48D1CC;

  	transition: 0.1s;
  	width: 130px;
  	height: 35px;
  	font: 16px arial, sans-serif;

 	&:hover{
  		border-radius: 10px;
   		background-color: #5F9EA0;
  	}
  	&:active{
    	background-color: #48D1CC;
    	border: 2px solid #48D1CC;
  	}
}

.input{
	&.number{
		position: relative;
		margin-left: 15px;
		margin-top: 10px;

		width: 100px;
		height: 20px;
		border: 1px solid #5F9EA0;
		border-radius: 3px;

		text-align: center;
	}

}
.text{
	margin-left: 15px;
	font-family: 'Gill Sans', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #5F9EA0;
}